.search-icon {
  position: absolute;
  top:54%;
  right: 5%;
  transform: translateY(-50%);
  font-size: 7vh;
  color: #555;
  cursor: pointer;
}



.SecondNavbarSearch{
  position: relative;
  margin-bottom: 2vh;
}
.SecondNavbarSearch img{
  position: absolute;
  height: 1.5rem;
  z-index: 1;
  right: 2rem;
  top: 2.1rem;
}
#accountRicircle{
  z-index: 1;
  position: relative;
  border: 1.4px solid rgb(199, 199, 199);
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  padding: 0.5rem;
}

.cartBtn{
  border: none;
  background-color: #ffe7e1;
  border-radius: 50%;
  position: relative;
}

.cartBtn :nth-child(2){
  border: none;
}

#cartIcon{
  z-index: 1;
  position: relative;
  border: none;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  padding: 0.5rem;
}

.SecondNavbarSearch input{
  top: 1rem;
  position: relative;
  border: none;
  padding: 1.2rem;
  background-color: rgb(235, 234, 234);
  width: 100vh;
  border-radius: 0.3rem;
}
@media screen and (max-width: 768px) {
  .search-container {
  flex-direction: column;
  background-color: #272525;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  }
  .header-color{
    color: #828FC3;
  }
  }
  .rounded-button {
    border-radius: 20px;
    background-color: white;
    color: black;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(43, 40, 40);
    padding: 10px 20px;
    font-size: 0.6rem;
    cursor: pointer;
    float: right;
     /* Add margin to the button */
  }
  
  .white-background {
    background-color: white; /* Add a new class to change the button background color */
  }
   .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 4px;
    z-index: 1000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    max-width: 37vw;
    max-height: 77vh;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  .header-text {
    flex-basis: 70%;
     /* take up 70% of available space */
  }
  .header-desc {
    flex-basis: 100%; /* force to start on new line */
    margin-top: 10px; /* add some spacing */
  }
  .cancel-button {
    margin-left: auto; /* push button to the right */
  }
  .header-color {
    color: #393C4B;
    font-weight: bold;
  }

  .cancel-button {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
    position: relative;
  }

  .cancel-button:hover {
    color: red;
  }

  .popup-overlay {
    position: fixed;
   top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  

  .item {
    margin-bottom: 10px;
  }

 
  
  
  .search-container {
  width: 70vw;
  height: 18vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
  overflow-y:hidden ;
  display: flex;
  align-items: center;
  }
  
  @media screen and (max-width: 768px) {
  .search-container {
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  }
  }
  

  input{
    background-color: #dee1eb;
    border: none;
    width: 100%;
    box-shadow: #272525;
    height: 10vh;
  }
     
    

.logo-design{
    padding: 2vw;
    display: flex;
    
}
.drop-icon{ 
  margin-left: 1vw;
  margin-top: 1vh; 
  
}
.input-cupon{
  height: 8vh;
 
}


.site-location1{
    padding-top: 1vh;
    padding-left: 3vw;
    width: 40vw;
    height: 15vh;
}
.person-icon{
 margin-left:1vw;
 padding-left: 0.3vw;
}


.icon {
  border-radius: 55%;
  border: 2px solid rgb(0, 0, 0);
  /* padding: 25px; */
  height: 10vh;
  width: 3.5vw;
  padding-bottom: 10px;
  color: black;
  font-size: 30px;
}
.my-custom-container{
  margin-left: 3vw;
  margin-top: 3vh;
  width: 25vw;
  height: 10vh; 
  margin-left: 2vw;
  border: 1px solid #ddd;
  border-top-color: #ada2a2;
  border-left-color: #ada2a2;
  border-bottom-color: #ada2a2;
  border-right-color: #ada2a2;
  box-shadow: 0 0 10px rgba(0,0,0,.25);

}
 
  .form-control {
    position: relative;
    padding-right: 35px;
    height: 8vh;
    width: 50vw;
    background-color: #f3f4f7;;
    color: black;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
  }
  
  .form-control::after {
    content: "\f002";
    font-family: "FontAwesome";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  