.hadder-banner {
  display: flex;
  /* other CSS styles */
}

@media (max-width: 991px) {
  .hadder-banner {
    display: none;
  }
}


.padded-span {
  padding-left: 3vh;
  font-size: medium;
}

.padded-span1 {
  padding-left: 40vh;
  font-size: large;
}

.herobanner2 {
  padding-left: 20px;
  font-size: large;
}

.list-elememts {
  text-decoration: none;
  color: black;
}