
.padded-span {
    padding-left: 30vh;
    font-size:  large;
  }
  .padded-span1 {
    padding-left: 40vh;
    font-size:  large;
  }
  .herobanner2{
  padding-left: 20px;
  font-size:  large;  
}
  
.list-elememts{
 text-decoration:none;
}