.btn{
    border-radius: 25vh;
    height: 9vh;
    width: 18vw; 
    margin-left: 2vw;
    margin-right: 2vw;
    background-color: #2BBEF9;


  }
  .break{
    white-space: nowrap;
  }
.ms-4 strong{
  font-size: x-small;
  position: absolute;
  bottom: -0.6rem;
  z-index: 1;
  left: 6rem;
  color: rgb(93, 91, 91);
  background-color: rgb(235, 235, 235);
  border-radius: 1rem;
  padding: 0.2rem;
  font-weight: 500;
}
.navbar-link > .nav-link {
  color: rgb(0, 0, 0);
}
.navbar-link > .nav-link :hover{
  color: #31C1F9;
  background-color: #F0FAFF;
}
.nav-header{
  font-weight: bold;
  font-size: large;
  color: #6877B6;
}

.navbar-link {
    font-size: 3vh;
    /* margin-left: -0.5vw; */
    margin-top: 1vh;
    /* margin-right: 1vw; */
    text-decoration: none;
    color: black;
    font-weight: 200;
  }
.link {
    font-size: 3vh;
    text-decoration: none;
    color: black;
    font-weight: 200;
    /* margin-left: 1vw; */
  }
  .nav-link:hover {
    color: #31C1F9;
    background-color: #F0FAFF;
  }
  .navbar .nav-item .nav-link.active{
    color: #31C1F9;
    background-color: #F0FAFF;
  }
  .NavDropdown:hover{
    color: #31C1F9;
    background-color: #F0FAFF;
  }