.btn{
    border-radius: 25vh;
    height: 9vh;
    width: 15vw;
    margin-left: 17vw;

}
.navbar-link {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: 600;
  }