.btn{
    border-radius: 25vh;
    height: 9vh;
    width: 18vw; 
    margin-left: 15vw;

}
.navbar-link > .nav-link {
  color: rgb(0, 0, 0);
}
.navbar-link > .nav-link :hover{
  color: #31C1F9;
  background-color: #F0FAFF;
}

.navbar-link {
    font-size: 3vh;
    margin-left: -1.8vw;
    margin-top: 1vh;
    margin-right: 1vw;
    text-decoration: none;
    color: black;
    font-weight: 200;
  }
  .nav-link:hover {
    color: #31C1F9;
    background-color: #F0FAFF;
  }
  .navbar .nav-item .nav-link.active{
    color: #31C1F9;
    background-color: #F0FAFF;
  }
  .NavDropdown:hover{
    color: #31C1F9;
    background-color: #F0FAFF;
  }