.promoAd{
    background-color: #233a95;
    position: relative;
    color: rgb(255, 255, 255);
    top: 6rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 50vh;
}

@media screen and (max-width: 768px) {
    .promoAd {
        height: 90vh;
    }
}



.promoAd img{
    right: 0;
    bottom: 0;
}

.mb-3{
    background-color: white;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;
}

#inputFooter{
    padding: 0.6rem;
    border: none;
}

.promoAd div{
    padding: 0.1rem;
    border-radius: 1rem;
    padding-left: 2rem;
}

.mb-3 button{
    border: none;
    background-color: #233a95;
    /* padding: 0.1rem; */
    color: white;
    border-radius: 1rem;
}