.hoverProduct{
    display: flex;
    justify-content: space-between;
    width: 22vw;
}

.img{}

.img img{
    height: 4rem;
}

#desc{
    display: flex;
    flex-direction: column;
    flex: 3;
}

#aiOutlineCircle{
    position: absolute;
    top: 1rem;
    right: 0;
}