.scrollable-list {
    max-height: 50vh;
    overflow-y: scroll;
  }
  .bg-light{
    background-color: #F3F4F7;
    border: none;
  }
  .slider-custom {
    background-color: #E3E3E3;
    /* add any additional CSS styles to customize the look */
  }
  .absolute input[type="text"]:focus {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    outline: none;
    background-color: #dee1eb; 
    }
    .absolute input[type="text"]{
      width: 20vw;
      background-color: #e9e4e4;
      border: none;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      color: #272525;
      font-size: 16px;
      padding: 10px;
      transition: box-shadow 0.3s ease-in-out;
      height: 10vh;
    }