.rightSide{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
}

.banner1 img{
    width: 60vw;
    padding: 4rem;
    border-radius: 2rem;
}

.add1{
    background-color: rgb(255 245 203);
    height:fit-content;
    width: 100%;
    border-radius: 2rem;
    position: relative;
    top: 1rem;
    margin-right: 5.5rem;
    left: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.add1Heading{
    padding: 2rem;
}

.add1Image img{
    position: relative;
    height: 100%;
}

.add2{
    display: flex;
    height: 15vh;
    width: 100%;
    background-color: #ffeef2;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 2rem;
    border-radius: 0.5rem;
}

.add2 h5{
    padding: 1rem;
    display: flex;
}

.adds{
    display: flex;
    position: relative;
    gap: 3rem;
    top: 4rem;
    left: 0;
}