.leftSide{
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
@media only screen and (max-width: 768px) {
    .leftSide {
      order: 2;
    }
  }
.emptyContainer{
    flex: 0.8;
}