.cardIcons{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    position: absolute;
    right: 2.5rem;
    height: 10vw;
    z-index: 1;
}
.max-height{
    min-height: 65vh;
    min-width:20vw;
}
.cardIcons *{
    padding: 0.00rem;
    box-shadow: 2px 2px 2px 2px rgb(188, 187, 187);
    border-radius: 1rem;
}

#cartQuantity{
    border: 2px solid #c3c3c3;
     border-radius: 2rem;
     color: black;
     position: relative;
     width: 8rem;
     left: 1.5rem;
     color: white;
     z-index: 1;
     display: flex;
     justify-content: space-between;
     width: 80%;
}

#cartQuantityminus{
    background-color: rgb(222, 222, 222);
    color: black;
    height: 100%;
    border-radius: 2rem;
    padding: 0.5rem;
    border: none;
}

#cartQuantitynumber{
    background-color: white;
    color: black;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 3;
    padding: 0.5rem;
}

#cartQuantityplus{
    background-color: #ffcd00;
    color: black;
    height: 100%;
    border-radius: 2rem;
    padding: 0.5rem;
    border: none;
}